.button-normal {
  -fx-background-color: white;
  -fx-background-radius: 5;
  -fx-border-color: black;
  -fx-border-radius: 5;
  -fx-font-weight: bold;
  -fx-text-fill: #481515;
}

.button-normal:hover { /* Style for hover effect */
  -fx-background-color: #76a5af; /* Lighter background */
  -fx-text-fill: white;    /* Darker text */
  -fx-border-color: white;
}
